::-moz-selection {
  background-color: $maincolor;
  color: white;
}

::selection {
  background-color: $maincolor;
  color: white;
}

svg {
  * {
    fill: inherit;
  }
}

html {
  background-color: $maincolor;
}

.centered {
	max-width: $screen-lg;
	margin: 0 auto;
	@extend .container-fluid;
}

.open-sidebar, .open-modal {
	overflow: hidden;
}

@mixin keyframes($animationName)
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName}  {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(bgcolor) {
  0% {
    background-color: #ffccf2;
  }
  50% {
    background-color: #ccffcc;
  }
  100% {
    background-color: #ccffff;
  } 
}