.mainfooter {
	@extend .centered;
	background-color: $body-bg;
	

	&__wrapper {
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		
		@media (min-width: $screen-sm) {
			position: fixed;
		}
	}

	&__container {
		border-top: 1px solid #EDECE7;
		padding-top: 1em;
		padding-bottom: 1em;
		@extend .clearfix;
		text-align: center;

		@media (min-width: $screen-sm) {
			text-align: left;
		}
	}

	.list-inline {
		list-style: none;
		margin: 0;
		padding: 1em 0;

		@media (min-width: $screen-sm) {
			float: left;
			padding: 0;
		}

		&-item {
			display: inline-block;
			text-transform: uppercase;
			@include pxem(12px);
			color: #B7B6B2;

			a {
				color: $text-color;
				border-bottom: 1px solid transparent;
				@include transition(border-color .3s ease);

				&:hover {
					text-decoration: none;
					border-bottom: 1px solid;
				}
			}

			+ .list-inline-item {
				padding-left: .5em;

				&:before {
					content:".";
					padding-right: .8em;
					display: inline-block;
					position: relative;
					top: -.25em;
				}
			}
		}
	}
}