.btn {
	background-color: $maincolor;
	border: none;
	padding: 1em 2em;
	text-transform: uppercase;
	@include pxem(12px); 
	color: white;
	border-radius: 2em;
	outline: none;

	@include transition(background-color .3s ease);

	&:hover {
		background-color: lighten($maincolor, 5%);
	}

	&:active, &:focus {
		background-color: darken($maincolor, 10%);
	}


	.form & {
		position: relative;
		@include make-xs-column-push(5);
		margin-left: $grid-gutter-width/2;
	}

	&-add {
		display: block;
		width: 80%;

		@media (min-width: $screen-sm) {
			width: auto;
			float: right;
		}

		&:before {
			content: "";
			width: 0.8em;
			height: 0.8em;
			display: inline-block;
			margin-right: .6em;
			background: url(../img/icon-add.svg) no-repeat;
			background-size: contain;
		}
	}
}